<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <div class="row">
      <div class="panel panel-default">
          <div class="panel-heading">Panel with panel-default class</div>
          <div class="panel-body">Panel Content</div>
        </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">Components</div>
      <div class="panel-body">
          <svg id="components" style=" width: 100%;
          height:900px"></svg>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Main Editor</div>
      <div class="panel-body">
        <div style="width:100%;height:880px">
          <svg id="svg">         
            
            <g id="diagram" data-drag="diagram:diagram" data-drag-type="diagram">     
              <g id="node-layer">
                
                <!-- PROCESS 1 -->   
                <g class="node-container" draggable="true">    
                  <rect class="node-background" width="204" height="128" x="0" y="0" rx="6" ry="6" />
          
                  <g class="node-header">
                    <rect class="header-round-rect" width="200" height="40" x="2" y="2" rx="4" ry="4" />
                    <rect class="header-rect" width="200" height="36" x="2" y="6" />
                    <text class="header-title" x="102" y="30">Component 1</text>
                  </g>
          
                  <g class="node-content">
          
                    <rect class="content-round-rect" width="200" height="82" x="2" y="44" rx="4" ry="4" />
                    <rect class="content-rect" width="200" height="77" x="2" y="44" />
          
                    <g class="inputs">
          
                      <g class="input-field" transform="translate(0, 50)">
                        <g class="port">
                          <circle class="port-outer" cx="15" cy="30" r="15" />
                          <circle class="port-inner" cx="15" cy="30" r="10" />
                          <circle class="port-scrim" cx="15" cy="30" r="15" />
                        </g>
                        <text class="port-label" x="35" y="35">From</text>
                      </g>
                      
                 
                      
                    </g>
          
                    <g class="outputs">
          
                      <g class="output-field" transform="translate(0, 50)">
                        <g class="port" data-clickable="false">
                          <circle class="port-outer" cx="189" cy="30" r="15" />
                          <circle class="port-inner" cx="189" cy="30" r="10" />
                          <circle class="port-scrim" cx="189" cy="30" r="15" data-clickable="false" />
                        </g>
                        <text class="port-label" x="170" y="35">To</text>
                      </g>
                      
                    </g>
          
                  </g>
                </g> 

                 <!-- PROCESS 2 -->      
        <g class="node-container2" transform="translate(200,200)" draggable="true">    
          <rect class="node-background" width="204" height="128" x="0" y="0" rx="6" ry="6" />
  
          <g class="node-header">
            <rect class="header-round-rect" width="200" height="40" x="2" y="2" rx="4" ry="4" />
            <rect class="header-rect" width="200" height="36" x="2" y="6" />
            <text class="header-title" x="102" y="30">Component 2</text>
          </g>
  
          <g class="node-content">
  
            <rect class="content-round-rect" width="200" height="82" x="2" y="44" rx="4" ry="4" />
            <rect class="content-rect" width="200" height="77" x="2" y="44" />
  
            <g class="inputs">
  
              <g class="input-field" transform="translate(0, 50)">
                <g class="port">
                  <circle class="port-outer" cx="15" cy="35" r="15" />
                  <circle class="port-inner" cx="15" cy="35" r="10" />
                  <circle class="port-scrim" cx="15" cy="35" r="15" />
                </g>
                <text class="port-label" x="28" y="14">From</text>
              </g>
            </g>
          </g>
        </g> 
        
                </g>
                </g>
                </svg>
            
        </div>
      </div>
    </div>

  </div>
</div>